body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(56, 56, 56);/* #4caf50;*/
    margin: 0 auto;
    height: 100%;
  }
  
  header h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
    border: blue;
    border-radius: 5px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    /* grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    -ms-grid-column-align: center; */
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    background-color: #eeeeee;
    /* min-height: 250px; */
    min-width: 298px;
    width: 20%;
    box-shadow: 10px 10px grey;
    padding: 10px;
    padding-top: 4%;
    text-align: center;
    border-radius: 10px;
    margin: 4%;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 0.9em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: orangered;/* #E1332D;*/
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  img {
    max-height: 100%;
  }


  div.card img {
    max-height: 300px;
    max-width: 50%;
    position: relative;
  }